<div [@routeAnimation]>
  <app-page-title [@routeAnimation] [mainTitle]="'Mihael Međan'" [subtitle]="'Curriculum Vitae'"></app-page-title>
  <hr />
  <app-personal-information [@routeAnimation]
                            [personalInformation]="personalInformation"
                            [user]="user">
  </app-personal-information>

  <hr />

  <h4 class="highlight">Work Experience</h4>
  <div class="row">
    <div class="col-sm-6 col-12" *ngFor="let we of workExperience" >
      <app-work-experience [workExperience]="we"></app-work-experience>
    </div>
  </div>

  <hr />

  <h4 class="highlight">Education and Training</h4>
  <div class="row">
    <div class="col-sm-6 col-12" *ngFor="let ed of education" >
      <app-education [education]="ed"></app-education>
    </div>
  </div>

  <hr />
  <h4 class="highlight">Technical Skills</h4>
  <div class="row">
    <div class="col-sm-6 col-12" *ngFor="let tech of technicalSkills" >
      <app-technical-skill [technicalSkill]="tech"></app-technical-skill>
    </div>
  </div>

  <hr />
  <h4 class="highlight">Personal Skills</h4>
  <app-personal-skills [personalSkills]="personalSkills"></app-personal-skills>

  <div *ngIf="this.managmentSkills.length > 0">
    <hr />
    <h4 class="highlight">Managment Skills</h4>
    <div class="row">
      <div class="col-12 col-sm-6" *ngFor="let skill of managmentSkills" >
        <app-other-skill [skill]="skill"></app-other-skill>
      </div>
    </div>
  </div>

  <div *ngIf="this.organisationSkills.length > 0">
    <hr />
    <h4 class="highlight">Organisation Skills</h4>
    <div class="row">
      <div class="col-12 col-sm-6" *ngFor="let skill of organisationSkills" >
        <app-other-skill [skill]="skill"></app-other-skill>
      </div>
    </div>
  </div>

  <div *ngIf="this.hasAdditionalInfo()">
    <hr />
    <h4 class="highlight">Additional Informations</h4>
    <h5 class="slight-highlight">Publications</h5>
    <h5 class="slight-highlight">Honours and Awards</h5>
    <h5 class="slight-highlight">Presentations</h5>
    <h5 class="slight-highlight">Seminars</h5>
    <h5 class="slight-highlight">Conferences</h5>
  </div>
</div>
