.project-card {
  width: 300px;
  position: relative;
  display: block;
  margin: 14px auto;
  cursor: pointer;
}

.project-card-image {
  position: absolute;
  left: 0; top: 0;
  height: 150px;
  width: 298px;
  opacity: 1;
}

.project-card:hover > .project-card-text {
  opacity: 1;
}

.project-card:hover > .project-card-more {
  color: gold;
}

.project-card-text {
  padding-top: 120px;
  padding-left: 10px;
  z-index: 100;
  position: relative;
  text-align: left;
  opacity: 0.5;
}

.project-card-title {
  color: white;
  text-shadow: 2px 2px #111;
  font-size: 20px;
}

.project-card-technology {
  font-size: 14px;
  text-align: right;
  color: grey;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  padding-left: 7px;
}

.project-card-content {
  padding: 7px;
  height: 125px;
  color: grey;
}

.project-card-more {
  color: #835f08;
}
