<h3 *ngIf="partOfPage" id="recent-projects" class="highlight" [innerHtml]="title" [@routeAnimation]></h3>

<div *ngIf="!partOfPage" [@routeAnimation]>
  <app-page-title *ngIf="!partOfPage" [mainTitle]="title" [subtitle]="subtitle"></app-page-title>
  <hr />
</div>
<div class="row">
  <div *ngFor="let project of pagination.getCurrentPage(projects)"
       [@routeAnimation]
       class="col-12 col-sm-6 col-md-6 col-lg-4">
    <app-project-card [project]="project"></app-project-card>
  </div>
</div>

<div>
  <app-pagination [list]="projects"
                  [pagination]="pagination"
                  [scrollTo]="'#recent-projects'">
  </app-pagination>
</div>
