.gallery {
  margin-bottom: 30px;
  position: relative;
  box-shadow: 3px 3px #000;
}

.arrow-left {
  float: left;
  left: 0;
  top: 0;
}

.arrow-right {
  float: right;
  right: 0;
  top: 0;
}

.arrow {
  position: absolute;
  height: 100%;
  width: 15%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.0);
}

.title-container {
  position: absolute;
  height: 15%;
  width: 100%;
  float: left;
  left: 0;
  bottom: 0;
  text-align: center;
}

.title {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px #000;
}

.arrow:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.pointer-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  text-shadow: 2px 2px #000;
}

.pointer {
  /*display: table-cell;*/
  /*vertical-align: middle;*/
}
