/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.wrapper {
  background-color: #000;
  min-height: 1000px;
  color: grey;
}

.content {
  background-color: #0f0f0f;
  min-height: 900px;
}

.highlight {
  color: white;
  text-shadow: 1px 1px #000;
}

.centered {
  text-align: center;
}

.social-icon {
  padding: 10px;
  color: grey;
  text-decoration: none;
}

.no-decoration {
  text-decoration: none;
}

.social-icon:hover {
  color: gold;
}

.margin-top-lg {
  padding-top: 50px;
}

.margin-bot-lg {
  padding-bottom: 50px;
}

.profile-photo {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 200px;
  display: block;
  margin: auto;
}

hr {
  border: 1px solid #252525;
}

.gold {
  color: gold;
}

.margin-bot-md {
  margin-bottom: 20px;
}

